
<section class="ingresofondo">
    <h2 class="titulo">¡Bienvenido a TecnoXpress!</h2>
    <div class="container_ingreso">
        <form class="formularioIngreso"[formGroup]="loginForm" (ngSubmit)="onEnviar($event)" >
            <div class="input-container">
                <div class="form-group">
                    <input class="text" type="text" formControlName="usuario" placeholder="Usuario" minlength="4" maxlength="20" required>
                    @if (Usuario?.errors && Usuario?.touched){
                        @if (Usuario?.hasError('required')) 
                        {
                          <p class="text-danger">
                            El nombre de usuario es requerido!
                          </p>
                        }
                        @else if(Usuario?.hasError('minlength'))
                        {
                          <p class="text-danger">
                            El nombre debe tener más 4 dígitos
                          </p>
                        }
                        @else if(Usuario?.hasError('maxlength'))
                        {
                          <p class="text-danger">
                            El nombre usuario no debe tener más de  4 dígitos
                          </p>
                        }
                      }
                </div>
                <div class="form-group">
                    <input class="text" type="password" formControlName="contraseña" placeholder="Contraseña" minlength="4" maxlength="15" required>
                    @if (Password?.errors && Password?.touched){
                        @if (Password?.hasError('required')) 
                        {
                          <p class="text-danger">
                            Contraseña requerida!
                          </p>
                        }
                        @else if(Password?.hasError('minlength'))
                        {
                          <p class="text-danger">
                            La contraseña debe tener mínimo 4 dígitos
                          </p>
                        }
                        @else if(Password?.hasError('maxlength'))
                        {
                          <p class="text-danger">
                            La contraseña debe tener mínimo 4 dígitos
                          </p>
                        }
                      }
                </div>    
            </div>
            <p>
                <button class="Enviar" type="submit">
                    <span class="icon_send"><i class="fa-solid fa-paper-plane"></i></span>
                    <span>Enviar</span>
                </button>
            </p>
            <p><a href="#" id="olvidar-contraseña">¿Olvidaste tu contraseña?</a></p>
            <p><a routerLink="/registro" id="registro-enlace">¿No tienes cuenta? </a></p>
            <p><a href="/Front-End24/TecnoXpress/src/app/pages/registrar/registrar.component.html" id="Registrar">Registrate</a></p>
        </form>
    </div>
</section>








