<div class="card-body">
  <h5 class="card-title">Detalle</h5>
  <div class="card-text">
    <p>Nombre del usuario: {{ purchaseDetails.user }}</p>
    <p>Fecha de compra: {{ purchaseDetails.purchaseDate }}</p>
    <p>Producto comprado: {{ purchaseDetails.productName }}</p>
    <p>Cantidad de productos: {{ purchaseDetails.quantity }}</p>
  </div>
  <div class="shipment-status">
    <h2>Estado del Envío</h2>
    <p>Estado: {{ purchaseDetails.shippingStatus }}</p>
  </div>
  <div>
    <a href="checkout.html" class="btn btn-primary">Ver compra</a>
  </div>
</div>
