

<section class="nosotros_section">
    <div class="container">

          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/media/tiendaweb.jpg" class="img-fluid rounded-start" alt="transportes de correos">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">SOBRE NOSOTROS</h5>
                  <p class="card-text">Somos una tienda web que comercializa tecnología e insumos de computación de alta calidad y ya precios competitivos.
                    <br>
                    Nuestra misión es ofrecer a nuestros clientes soluciones innovadoras y personalizadas que se adapten a sus necesidades y expectativas.
                    <br> 
                    Contamos con un equipo de profesionales capacitados y comprometidos con la satisfacción del cliente, que brindan asesoramiento, soporte tecnico y garantía en todos nuestros productos.
                    <br>
                    Nuestra visión es ser líderes en el mercado de la tecnología y la informática, ofreciendo siempre lo último y lo mejor en cada categoría.
                    <br> 
                    Queremos ser tu aliado estratégico en el desarrollo de tus proyectos, brindándote la confianza y seguridad que necesitas para alcanzar tus objetivos</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/media/depositologistica.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">¿POR QUE DEBERIAS ELEGIR TECNOXPRESS?</h5>
                  <p class="card-text">Tenemos mas de 20 años de experiencia en el mercado de consumidores finales.
                    <br>
                    Disponemos de un equipo profesional altamente capacitado para gestionar tus compras de manera efectiva.
                    <br>
                    Contamos con centros logisticos estrategicamente ubicados en las ciudades mas importantes del pais.
                    <br>
                    Ofrecemos las opciones de envio mas economicas y eficientes del mercado.
                  </p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/media/equipo.jpg" class="img-fluid rounded-start" alt="deposito cajas">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">NUESTRO EQUIPO</h5>
                  <p class="card-text">Contamos con un equipo profesional altamente capacitado que trabaja incansablemente para garantizar el desarrollo continuo y sostenido de la empresa, guiado por nuestros valores fundamentales de satisfaccion al cliente, compromiso, cordialidad, mejora continua y eficacia.</p>
                </div>
              </div>
            </div>
          </div>


          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/media/envios.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">NUESTROS VALORES</h5>
                  <p class="card-text">En TecnoXpress estamos comprometidos a ofrecer un servicio excepcional a nuestros clientes. Creemos que nuestros valores fundamentales son esenciales para garantizar una experiencia positiva para nuestros clientes. Estos son nuestros valores: </p>

                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Cordialidad 
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>La cordialidad </strong>es una habilidad distintiva en la que desarrollamos y crecemos como empresa. Es sinónimo de amabilidad y educación, y es una verdadera ventaja competitiva para diferenciarnos en el mercado. En Delta, nos esforzamos por dar lo mejor de nosotros mismos a través de la cordialidad y la sonrisa.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Satisfacción del cliente
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>La satisfacciónn del cliente</strong> es nuestro principal objetivo. Nos esforzamos por garantizar que nuestros clientes se vayan de Delta con la solución a sus problemas o necesidades. Este es nuestro motor impulsor que nos motiva a seguir evaluando y reformulando nuestros procesos para satisfacer las necesidades de nuestros clientes. Su problema es nuestro problema.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Compromiso y Responsabilidad
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Nuestras actividades están orientadas al servicio de las <strong>necesidades de nuestros clientes</strong> internos, externos y proveedores. La ética empresarial es vital para nosotros, basada en la profesionalidad, confidencialidad, lealtad y transparencia. Una vez que nuestros clientes nos confían su problema, pasa a ser nuestro problema en Delta Computación.
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Eficacia
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>La excelencia es una tarea diaria y constante. </strong>Nos esforzamos por hacer las cosas cada vez mejor y más eficazmente. Para lograr esto, contamos con un desempeño óptimo de cada área y de cada uno de nuestros empleados, atendiendo a las necesidades de todos aquellos con quienes trabajamos. La utilización de los recursos y la posibilidad de mejorar a nuestro personal garantizan la eficacia de nuestro servicio.
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Trabajo en equipo
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Creemos que trabajar en equipo <strong>nos permite hacer frente a más y mejores proyectos </strong>que si los gestionamos de manera individual. El buen clima laboral y el respeto son la base para pensar y trabajar en equipo.
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Mejora continua
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>La mejora continua</strong> es la base para brindar un servicio superior a nuestros clientes y proveedores. Nos esforzamos por superarnos a través de la capacitación y el interés en la superación.
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>
  </section>
