<nav class="navbar">
  <div class="nav-container">
    <h5 class="logo">TecnoXpress</h5>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-table-columns"></i>Dashboard</a></li>
        <li><a routerLink="/home" routerLinkActive="active"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a routerLink="/productos" routerLinkActive="active"><i class="fa fa-shopping-basket"></i> Productos</a></li>
        <li><a routerLink="/somos" routerLinkActive="active"><i class="fa-regular fa-building"></i>Somos</a></li>
        <li><a routerLink="/contact" routerLinkActive="active"><i class="fa-regular fa-address-card"></i>Contacto</a></li>
        <li><a routerLink="/registrar" routerLinkActive="active"><i class="fa fa-sign-in"></i> Registrar</a></li>
        <li><a routerLink="/iniciar-sesion" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Iniciar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>


