.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(22, 17, 8);
  background-image: linear-gradient(
    to right,
    rgb(11, 23, 187),    
    rgb(21, 41, 155),   
    rgb(201, 132, 42),
    rgb(201, 132, 42),
    rgb(12, 1, 1)
  );
  border-radius: 0 0;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px; 
}

.logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
  position: relative;
  animation: floatLogo 5s ease-in-out infinite, lightEffect 2s linear infinite;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
  margin-left: 15%; 
  border-radius: 80px 10px;
}

@keyframes floatLogo {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 15px);
  }
  50% {
    transform: translate(0, 30px);
  }
  75% {
    transform: translate(-10px, 15px);
  }
}

@keyframes lightEffect {
  0%,
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff,
      0 0 50px #0ff, 0 0 60px #0ff;
  }
  50% {
    box-shadow: 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #f0f, 0 0 50px #f0f,
      0 0 60px #f0f, 0 0 70px #f0f;
  }
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-image: linear-gradient(
    to right,
    rgb(196, 125, 18),
    rgb(128, 109, 68),
    rgb(196, 125, 18),
    rgb(46, 38, 2),
    rgb(4, 14, 156)

    
  );
  border-radius: 60px;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.3);
  transform: translateY(-4px);
  position: relative;
}

@media screen and (max-width: 768px) {
  .nav-links ul {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }
}
