<div id="containerNav">
  <section id="top-menu">
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid justify-content-end">
        <div class="btn-group">
          <ng-container *ngIf="currentUser; else loggedOut">
            <h5 class="nav-link btn-sm btn-link">Welcome to TecnoXpress,  {{ currentUser.nombreUsuario }} !</h5>
            <hr>
            <hr>
            <button class="btn btn-ligth nav-link btn-sm btn-link" (click)="logout()">Cerrar Sesión</button>
          </ng-container>
          <ng-template #loggedOut>
            <a routerLink="/iniciar-sesion" routerLinkActive="active" class="btn btn-ligth nav-link btn-sm btn-link">
              <img class="top-img" src="./assets/media/login.png" alt="imagen-login">
              <span class="top-txt">Iniciar Sesión</span>
            </a>
            <a routerLink="/registrar" routerLinkActive="active" class="btn btn-ligth nav-link btn-sm btn-link">
              <img class="top-img" src="./assets/media/registro.png" alt="imagen-registro">
              <span class="top-txt">Registro</span>
            </a>
            <a routerLink="/dashboard" routerLinkActive="active" class="btn btn-ligth nav-link btn-sm btn-link" ><img class="top-img" src="./assets/media/dashboard.png" alt="imagen-login"><span class="top-txt">Mi perfil</span></a>
          </ng-template>
        </div>
      </div>
    </nav>
  </section>
  <section id="navegacion">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark menu">
      <div class="container-fluid justify-content-between">
        <a routerLink="/home" routerLinkActive="active" class="navbar-brand">
          <img id="logo" src="./assets/media/logo.png" alt="Logo TecnoXpress">
          <span class="texto-logo">TecnoXpress</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav alinear">
            <li class="nav-item">
              <a routerLink="/home" routerLinkActive="active" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="/somos" routerLinkActive="active" class="nav-link">Nosotros</a>
            </li>
            <li class="nav-item">
              <a routerLink="/productos" routerLinkActive="active" class="nav-link">Productos</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contacto</a>
            </li>
            <form class="d-flex buscar-nav">
              <input class="form-control me-2 btn-sm" type="text" placeholder="Buscar">
              <img class="btn btn-secondary btn-sm top-img btn-buscar-nav" src="./assets/media/search.png" alt="Buscar...">
            </form>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</div>



