:root {
  --primary-color: #ff6f29;
  --secondary-color: #494949;
  --thirty-color: #000000;
  --fourty-color: #ffffff;
  --fifty-color: #e8e2dd;
  --sixty-color: #28533e;
  --seventy-color: #b4baf0;
  --eighty-color: #e15fbd;
}
