
<!--                                         
<div class="titulo-single">
    <h2 class="titulo-principal" align="center">${producto.nombre}</h2>
   </div>
   <div class="producto-single-wrapper">    
       <div class="producto-single-imagen">
       <img class="producto-s-imagen img-fluid" src="${producto.imagen}" alt="${producto.nombre}">
   </div>
    <div class="producto-single-detalles">
   
        <div class="producto-single-caracteristicas">
                <h3 >Descripción del Producto: </h3>
               <span class="txt">Categoria:</span>
               <p class="producto-precio"> ${producto.categoria.nombre}</p>
               <span class="txt">Precio Unitario:</span>
               <p class="producto-precio">$ ${producto.precio}</p>
               <h4>Caracteristicas:</h4>
               <p class="producto-single-descripcion">
             ${producto.descripcion};
           </p>
       </div>
       <div class="producto-single-agregar-carrito">
       <button class="producto-agregar mi-boton-tt boton-single" title="Agregar al Carrito"  id="${producto.id_productos}">Agregar al Carrito de Compras <i class="bi bi-cart-plus"></i></button>
    </div>
</div>

 -->