<main>
  <div class="wrapper">
    <div class="mobile">
      <button class="open-menu mi-boton-tt" title="Abrir Menu Categorias" id="open-menu">
        <i class="bi bi-list"></i>
      </button>
    </div>
    <aside>
      <h1 class="categorias">Todos Nuestros productos</h1>
      <button class="close-menu mi-boton-tt" title="Cerrar Menu Categorias" id="close-menu">
        <i class="bi bi-x"></i>
      </button>
      <nav>
        <ul class="menu">
          <li>
            <button id="todos" class="boton-menu boton-categoria active" (click)="filterProductoPorCategoria('todos')" routerLink="/productos">
              <i class="bi bi-hand-index-thumb"></i><i class="fa-brands fa-product-hunt"></i>Todos los productos
            </button>
          </li>
          <li>
            <button id="01" class="boton-menu boton-categoria" (click)="filterProductoPorCategoria('01')" routerLink="/productos">
              <i class="bi-hand-index-thumb"></i><i class="fa-solid fa-computer-mouse"></i>mouse
            </button>
          </li>
          <li>
            <button id="02" class="boton-menu boton-categoria" (click)="filterProductoPorCategoria('02')" routerLink="/productos">
              <i class="bi-hand-index-thumb"></i><i class="fa-solid fa-tv"></i>monitores
            </button>
          </li>
          <li>
            <button id="03" class="boton-menu boton-categoria" (click)="filterProductoPorCategoria('03')" routerLink="/productos">
              <i class="bi-hand-index-thumb"></i><i class="fa-regular fa-keyboard"></i>teclados
            </button>
          </li>
          <li>
            <a routerLink="/carrito" class="boton-menu boton-carrito">
              <i class="bi bi-cart-fill"></i><i class="fa-solid fa-cart-shopping"></i> Carrito
              <span id="numerito" class="numerito">{{ totalProductos }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <section class="contenedor-productos menu">
      <h2 class="titulo-principal" id="titulo-principal">
        <i class="fa-brands fa-product-hunt"></i>Todos los productos
      </h2>
      <div id="contenedor-de-productos" class="contenedor-de-productos">
        @for ( producto of listaProductos; track producto.id) {
          <div class="producto">
            <img [src]="producto.imagen" [alt]="producto.nombre" />
            <div class="producto-detalles">
              <h3>{{ producto.nombre }}</h3>
              <p>Categoria: {{ producto.categoria.nombre }}</p>
              <p>Precio: ${{ producto.precio }}</p>
              <div class="producto-botones">
                <button routerLink="/detalles/{{producto.id}}" id="ver-mas-producto" class="producto-agregar mi-boton-tt">
                  <i class="fa-solid fa-eye"></i> Detalles
                </button>
                <button (click)="agregarAlCarrito(producto)" class="producto-agregar mi-boton-tt" title="Agregar al Carrito">
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
        }
        @empty {
          <p>No hay productos disponibles.</p>
        }
      </div>
      <div id="producto-single" class="producto-single disabled"></div>
    </section>
  </div>
</main>


