:root {
    --primary-color: #ff6f29;
    --secondary-color: #494949;
    --thirty-color: #000000;
    --fourty-color: #ffffff;
    --fifty-color: #e8e2dd;
    --sixty-color: #28533e;
    --seventy-color: #b4baf0;
    --eighty-color: #e15fbd;
  }
  




 

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f4f2f2;
}

aside {
    padding: 2rem;
    background-color: #f4f2f2;
    color: #494949;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: #ec4f01;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: #fff;
    color: #ff6f29;
    border-radius: 1rem;
    position: relative;
    box-shadow: -3px 8px 20px -5px rgba(168, 165, 168, 1);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: #fff;
    color: #ff6f29;
    padding: .15rem .25rem;
    border-radius: 0 .25rem;
}

.boton-carrito.active .numerito {
    background-color: #f3590c;
    color: #fff;
}

.contenedor-productos {
    flex-direction: column;
    background-color: #fff;
    margin: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: -3px 8px 40px -5px rgba(168, 165, 168, 1);
}

.titulo-principal {
    color: #ff6f29;
}

.contenedor-de-productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    border-radius: 1rem;
    border: solid 1px silver;
    overflow: hidden;
    width: calc(25% - 20px); /* Ajuste para 4 columnas con margen */
    margin: 10px;
    height: auto;
}

.producto img {
    width: 100%; /* Para que las imágenes se ajusten al contenedor */
    height: auto; /* Para mantener la proporción */
}

.producto-detalles {
    background-color: rgb(232, 232, 232);
    color: #000; /* Cambiado a negro */
    padding: 0.5rem;
    height: 50%; /* Ajustado a la mitad */
}

.producto-detalles h3 {
    color: orangered;
    font-weight: bold;

}

.producto-precio {
    color: #494949;
    font-size: 1.3rem;
    font-weight: bold;
}
.producto-botones{
display:flex;
}
.producto-botones button{
    margin:0px 5px
}

.mi-boton-tt {
    position: relative;
}

.mi-boton-tt::before {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.mi-boton-tt:hover::before {
    opacity: 1;
    visibility: visible;
} 
.producto-agregar, .producto-ver-info {
    border: 0;
    background-color: var(--primary-color);
    color: var(--fourty-color);
    padding: .4rem;
    border-radius: .50rem;
    cursor: pointer;
    /* border: 2px solid var(--secondary-color); */
    transition: background-color .2s, color .2s;
    width:100%;
}

.producto-agregar:hover, .producto-ver-info:hover {
    background-color: var(--fourty-color);
    color: var(--primary-color);
}
.mobile {
    display: none;
}

.close-menu {
    display: none;
}





.producto-botones{
    display:flex;
    }
    .producto-botones button{
        margin:0px 5px
    }
    .producto-agregar, .producto-ver-info {
        border: 0;
        background-color: var(--primary-color);
        color: var(--fourty-color);
        padding: .4rem;
        border-radius: .50rem;
        cursor: pointer;
        /* border: 2px solid var(--secondary-color); */
        transition: background-color .2s, color .2s;
        width:100%;
    }
    .bi-cart-plus, .bi-eye{
        padding-left:5%;
    }
    .producto-agregar:hover, .producto-ver-info:hover {
        background-color: var(--fourty-color);
        color: var(--primary-color);
    }

/* PRODUCTO SINGLE */


/* CARRITO */





/**
@media screen and (max-width: 600px) {}
**/

/*****************************************************************************************************/

/** MEDIA QUERIES **/
@media screen and (max-width: 600px) {
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        background-color: #000000e1;
        opacity: 1;
        visibility: visible;
    }
    section.menu {
        margin: 1rem;
        margin-top: 0;
        padding: 2.5rem;
    }

    .boton-menu.active {
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 1rem;
        position: relative;
        -webkit-box-shadow:0px 0px 0px 0px rgba(0, 0, 0,0);
        -moz-box-shadow:0px 0px 0px 0px rgba(0, 0, 0,0);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0,0);
    }
    h1.categorias{
        color: #fff;
        padding-top:30px;
    }

    .contenedor-productos {
        display: flex;
    }

    .mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .open-menu, .close-menu {
        background-color: transparent;
        color:var(--primary-color);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .carrito-producto img{
        width: 100%;
    }
    .carrito-producto {
        gap: 1.5rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        padding: .5rem;
    }


    .carrito-producto-subtotal {
        display: none;
    }
   button#carrito-acciones-vaciar.carrito-acciones-vaciar{

        width:100%;
    }
    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
        width:100%;
    }

    .producto-single-wrapper{
        flex-direction: column;
        width:100%;
        padding:2px;
        margin:2px;
    }
    .producto-single-detalles{
        width:100%;
        margin:10px;
    }
    .producto-single-imagen{
        width:90%;
        margin:20px 5px 5px 20px;
    }
    .producto-single-agregar-carrito{
        margin:30px;

    }
    .boton-single{
        width:100%;
    }
}
