<div class="container">
    <div class="py-5 text-center">
      <img src="./media/logo.png" class="rounded mx-auto d-block" alt="Logo" width="60px" height="60px">
      <h2>Formulario de Facturación de TecnoXpress</h2>
      <p class="lead">Bienvenido a la página de Facturación de TecnoXpress. Gracias por elegir TecnoXpress y lo esperamos pronto.</p>
    </div>
  
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4" id="resumenPedido">
        </div>
  
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Datos de Facturación</h4>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" novalidate>
          
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre"
                [class.is-invalid]="nombre?.invalid && (nombre?.dirty || nombre?.touched)"
                [class.is-valid]="nombre?.valid && (nombre?.dirty || nombre?.touched)">
              <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="invalid-feedback">
                Nombre es un campo obligatorio.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido" formControlName="apellido"
                [class.is-invalid]="apellido?.invalid && (apellido?.dirty || apellido?.touched)"
                [class.is-valid]="apellido?.valid && (apellido?.dirty || apellido?.touched)">
              <div *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)" class="invalid-feedback">
                Apellido es un campo obligatorio.
              </div>
            </div>
          </div>
          
          <div class="super-card_actions actionButtons">
            <a class="boton_hacia-atras" routerLink="/carrito">Cancelar</a>
            <button type="submit" class="btn btn-primary" [disabled]="checkoutForm.invalid">Confirmar pedido</button>
            <div *ngIf="pedidoEnviado" class="alert alert-success" role="alert">
              Pedido enviado con éxito!
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>