<h2>Carrito de Compras</h2>
<div class="carrito-container">
  <aside class="aside-izquierda">
    <a routerLink="/productos" class="mi-boton-tt seguir-comprando">
      Seguir Comprando
    </a>
  </aside>
  <aside class="aside-derecha">
    <div *ngIf="carrito.length === 0">
      <p>No hay productos en el carrito.</p>
    </div>
    <div *ngIf="carrito.length > 0">
      <div *ngFor="let item of carrito" class="carrito-producto">
        <img [src]="item.producto.imagen" [alt]="item.producto.nombre" />
        <div class="carrito-detalles">
          <h3>{{ item.producto.nombre }}</h3>
          <p>Precio: ${{ item.producto.precio }}</p>
          <p>Cantidad: {{ item.cantidad }}</p>
          <button (click)="removerDelCarrito(item.producto)" class="mi-boton-tt remover-producto">
            <i class="fa-solid fa-trash"></i> Remover
          </button>
        </div>
      </div>
      <button (click)="vaciarCarrito()" class="mi-boton-tt vaciar-carrito">
        Vaciar Carrito
      </button>
      <div class="carrito-totales">
        <h3>Total de productos: {{ totalProductos }}</h3>
        <h3>Total del precio: ${{ totalPrecio }}</h3>
      </div>
      <div class="carrito-acciones">
        <a routerLink="/checkout" class="mi-boton-tt realizar-compra">
          Realizar Compra
        </a>
      </div>
    </div>
  </aside>
</div>









