
<div class="dashboard">
    
      <div class="card text-center">
        
        <div class="dashboard">
          <h1>Mi perfil</h1>
          <div class="order-history">
            <h2>Historial de Compras</h2>
            <app-tab>
              <app-tab-content title="Pendientes">
               <app-pendientes-component></app-pendientes-component>
              </app-tab-content>
              <app-tab-content title="Realizadas">
               <app-realizadas-component></app-realizadas-component>
              </app-tab-content>
            </app-tab>
          </div>
        </div>
        
        
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
</div>
  