/* Inicio formulario de registro */

:root {
    --primary-color: #ff6f29;
    --secondary-color: #494949;
    --thirty-color: #000000;
    --fourty-color: #ffffff;
    --fifty-color: #e8e2dd;
    --sixty-color: #28533e;
    --seventy-color: #b4baf0;
    --eighty-color: #e15fbd;
  }

  
.tituloform {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    padding: 20px 0;
  }
  .tituloform input {
    color: silver;
  }
  .container_registration {
    background: var(--fifty-color);
    color: var(--thirty-color);
    max-width: 70%;
    max-height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5em;
    margin-bottom: 20px;
  }
  
  .formulario-registro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .celda {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: none;
    background: none;
    color: var(--primary-color);
    border-bottom: 1px solid var(--sixty-color);
    outline: none;
  }
  
  .dato {
    width: 100%;
    padding: 10px;
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin: 0;
    border: none;
    background: none;
    outline: none;
  }
  
  .boton-container {
    grid-column: 1 / span 2;
    margin-top: 0;
  }
  
  .boton-container {
    grid-column: 1 / span 2;
    margin-top: 20px;
  }
  
  .boton {
    width: 100%;
    background-color: var(--sixty-color);
    padding: 10px;
    color: white;
    font-size: 18px;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }
  
  .boton:hover,
  .boton:focus {
    background-color: var(--eighty-color);
    color: var(--sixty-color);
    transition: background-color 0.5s ease;
  }
  
  .error {
    color: red;
    display: none;
  }
  