<
    <!-- CSS -->  
    <link rel="stylesheet" href="registrar.component.css">
    
    <section>
        <div class="conteiner_contact">
          <div class="title_contact">
            <h1 class="logo_contact">Centro de ayuda</h1>
            <p>
              Encontrá la información que necesitás para comprar online, métodos
              de pago, garantías, envíos, seguimiento de compras y más.
            </p>
          </div>
          <div class="contact-wrapper">
            <div class="contac-form">
              <h3>Dejanos tus datos</h3>
              <form [formGroup]="contactForm" (ngSubmit)="onEnviar($event)">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" formControlName="nombre" class="form-control d-flex" id="nombre" placeholder="Ingrese su nombre" required minlength="4">
                  <span *ngIf="Nombre?.errors && (Nombre?.dirty || Nombre?.touched)" class="text-danger">
                    <span *ngIf="Nombre?.errors?.required">El nombre es requerido!</span>
                    <span *ngIf="Nombre?.errors?.minlength">El nombre debe tener más de 4 dígitos.</span>
                  </span>
                </div>
                <div class="mb-5">
                  <label for="email">Correo Electrónico</label>
                  <input type="email" formControlName="email" class="form-control d-flex" id="email" placeholder="name@example.com" required>
                  <span *ngIf="Email?.errors && (Email?.dirty || Email?.touched)" class="text-danger">
                    <span *ngIf="Email?.errors?.required">El email es requerido!</span>
                    <span *ngIf="Email?.errors?.email">El formato del email no es válido.</span>
                  </span>
                </div>
                <div class="mb-5">
                  <label for="telefono">Telefono</label>
                  <input type="telefono" formControlName="telefono" class="form-control d-flex" id="telefono" placeholder="+543571621961" required minlength="11" maxlength="60">
                  <span *ngIf="Telefono?.errors && (Telefono?.dirty || Telefono?.touched)" class="text-danger">
                    <span *ngIf="Telefono?.errors?.required">El teléfono es requerido!</span>
                    <span *ngIf="Telefono?.errors?.minlength">El teléfono debe tener al menos 11 números.</span>
                    <span *ngIf="Telefono?.errors?.maxlength">El teléfono no puede sobrepasar los 20 números.</span>
                  </span>
                </div>
                <div class="mb-5">
                  <label for="asunto">Asunto</label>
                  <input type="asunto" formControlName="asunto" class="form-control d-flex" id="asunto" placeholder="Asunto del Contacto" required minlength="5" maxlength="60">
                  <span *ngIf="Asunto?.errors && (Asunto?.dirty || Asunto?.touched)" class="text-danger">
                    <span *ngIf="Asunto?.errors?.required">El asunto del contacto es requerido!</span>
                    <span *ngIf="Asunto?.errors?.minlength">El asunto debe tener al menos 5 caracteres.</span>
                    <span *ngIf="Asunto?.errors?.maxlength">El asunto no debe pasar los 60 caracteres.</span>
                  </span>
                </div>
                <div class="block">
                  <label for="mensaje">Mensaje</label>
                  <textarea formControlName="mensaje" class="form-control" id="mensaje" rows="10" cols="70" required minlength="4" maxlength="300"></textarea>
                  <span *ngIf="Mensaje?.errors && (Mensaje?.dirty || Mensaje?.touched)" class="text-danger">
                    <span *ngIf="Mensaje?.errors?.required">El mensaje es requerido.</span>
                    <span *ngIf="Mensaje?.errors?.minlength">El mensaje debe contener entre 4 y 300 caracteres.</span>
                    <span *ngIf="Mensaje?.errors?.maxlength">El mensaje es demasiado largo. El límite es de 300 caracteres.</span>
                  </span>
                </div>
                <div class="block">
                  <button type="submit" class="button">
                    <span class="send">
                      <i class="fa-solid fa-paper-plane icon_send"></i>
                    </span>
                    <span class="text_send"> Enviar </span>
                    <span class="check">
                      <i class="fa-solid fa-check icon"></i>
                    </span>
                  </button>
                </div>
              </form>
            </div>
            <div class="contact-info">
              <h4>Mas Info</h4>
              <!-- Aquí va el resto del contenido de la sección de información de contacto -->
            </div>
          </div>
        </div>
      </section>
      