/* footer.component.css */
.footer {
  width: 100%;
  padding: 10px;
  background-color: rgb(61, 28, 207);
  background-image: linear-gradient(
    to right,
    rgb(3, 24, 9),
    rgb(10, 10, 10),
    rgb(17, 1, 17),
    rgb(21, 7, 97),
    rgb(7, 7, 22),
    rgb(13, 14, 13),
    rgb(12, 1, 1)
  );
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: auto; /* Empuja el footer hacia abajo si el contenido anterior no llena la pantalla */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .footer-logo,
  .footer p {
    font-size: 16px;
  }
}
  